extends layout

block content
    h2 Game Report: #{game.challenger.username} Vs #{game.challengee.username}
    h3= game.started

    p Final score: #{game.challenger.score} - #{game.challengee.score}
    p #{game.outcome}
    p Game duration: #{game.elapsed}

    h3 Timeline

    ol#timeline
        - each event in game.events
            li(class=event.type)
                time(datetime=event.timestamp) #{event.friendlyTitle}
