!!! 5
html(lang="en")
    head
    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    - if (typeof pageTitle != 'undefined')
        title Sock it to 'em! - #{pageTitle}
    - else
        title Sock it to 'em!
    link(href='/css/bootstrap-1.3.0.min.css', rel='stylesheet', type='text/css')
    link(href='/css/main.css', rel='stylesheet', type='text/css')
    - if (typeof settings !== 'undefined' && settings.trackStats)
        script
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-20517424-5']);
            _gaq.push(['_setDomainName', 'none']);
            _gaq.push(['_setAllowLinker', true]);
            _gaq.push(['_trackPageview']);
            _gaq.push(['_trackPageLoadTime']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
body
    .topbar
        .topbar-inner
            .container
                h3 
                    a(href='/') Socket2M
                        - if (typeof pageTitle != 'undefined')
                            span#state-wrapper
                                |  /
                                span#state-title=pageTitle
                        - else
                            span#state-wrapper(style='display:none') 
                                |  /
                                span#state-title
    .container
        block content

    #footer
        .well.container
            | &copy; 2011
            a(href='http://paynedigital.com') Payne Digital Ltd
            .share
                | <g:plusone size="medium" annotation="inline" width="200"></g:plusone>
                | <iframe src="//www.facebook.com/plugins/like.php?href&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
                iframe(allowtransparency='true',frameborder='0', scrolling='no',
                src='//platform.twitter.com/widgets/tweet_button.html?text=Sock it to %27em',
                style='width:130px; height:20px')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
    script(src='/js/boot.js')
    block scripts
