extends layout

block content
    h2 Top 100 Users

    ol
        - each user in users
            li
                dl
                    dt Username
                    dd <a href="/user/#{user.username}">#{user.username}</a>

                    dt Ranking
                    dd #{user.rank}

                    dt Wins
                    - if (user.wins != null)
                        dd #{user.wins}
                    - else 
                        dd  0

                    dt Losses
                    - if (user.losses != null)
                        dd #{user.losses}
                    - else 
                        dd  0

                    dt Forfeits (<a title="View information about forfeiting games" href="/about#forfeits">?</a>)
                    - if (user.defaults != null)
                        dd #{user.defaults}
                    - else 
                        dd  0
