extends layout

block content
    h2 User Profile / #{user.username}
    p Here are #{user.username}'s summary statistics. Why not check if they are in the <a href="/users/top">top 100 ranked players</a>?
    dl
        dt Username
        dd #{user.username}

        dt Ranking
        dd #{user.rank}

        dt Games Played
        dd #{user.gamesPlayed}

        dt Wins
        - if (user.wins != null)
            dd #{user.wins}
        - else 
            dd  0

        dt Losses
        - if (user.losses != null)
            dd #{user.losses}
        - else 
            dd  0

        dt Forfeits (<a title="View information about forfeiting games" href="/about#forfeits">?</a>)
        - if (user.defaults != null)
            dd #{user.defaults}
        - else 
            dd  0

        dt Kills
        - if (user.kills != null)
            dd #{user.kills}
        - else 
            dd  0

        dt Deaths
        - if (user.deaths != null)
            dd #{user.deaths}
        - else 
            dd  0

        dt Accuracy
        dd #{user.accuracy}&#37;

    h3 Last six games

    table.zebra-striped
        thead
            tr
                th Players
                th Score
                th Duration
                th Outcome
                th Date
                th Details
        tbody
        - if (!games.length)
            td(colspan=5)
                #{user.username} hasn't finished any games yet.
        - else
            - each game in games
                tr
                    td <a href="/user/#{game.challenger.username}">#{game.challenger.username}</a> Vs <a href="/user/#{game.challengee.username}">#{game.challengee.username}</a>
                    td #{game.challenger.score} - #{game.challengee.score}
                    td= game.elapsed
                    td= game.outcome
                    td= game.started
                    td <a href="/game/#{game._id}">View</a>

    h3 Daily Statistics
    p The following chart maps this user's wins, losses and ranking over time. It is updated once a day shortly after midnight (GMT).
    #ranking_chart

    #stats(style='display:none')
        - each stat in stats
            span(data-date='#{stat.date}',
                 data-wins='#{stat.wins}',
                 data-losses='#{stat.losses}',
                 data-rank='#{stat.rank}')

block scripts
    script(src='https://www.google.com/jsapi')
    script
        google.load("visualization", "1", {packages:["corechart"]});
        $(function() {
            var data = new google.visualization.DataTable();
            data.addColumn("string", "Date");
            data.addColumn("number", "Wins");
            data.addColumn("number", "Losses");
            data.addColumn("number", "Rank");
            data.addRows($("#stats span").length);
            var i = 0;
            var max = 0;
            $("#stats span").each(function() {
                var date = new Date($(this).data("date"));
                date = (function(date, splitter) {
                    var d = date.getDate();
                    var m = date.getMonth() + 1;
                    if (d < 10) {
                        d = "1"+d;
                    }
                    if (m < 10) {
                        m = "1"+m;
                    }
                    return d+splitter+m;
                })(date, '/');

                data.setValue(i, 0, date);
                data.setValue(i, 1, parseInt($(this).data("wins")));
                data.setValue(i, 2, parseInt($(this).data("losses")));
                data.setValue(i, 3, parseInt($(this).data("rank")));
                if ($(this).data("wins") > max) {
                    max = $(this).data("wins");
                }
                if ($(this).data("losses") > max) {
                    max = $(this).data("losses");
                }
                if ($(this).data("rank") > max) {
                    max = $(this).data("rank");
                }
                i++;
            });
            if (i > 1) {
                var chart = new google.visualization.LineChart(document.getElementById('ranking_chart'));
                chart.draw(data, {width:940, height:500, title: 'Wins, Losses & Ranking over time',
                    vAxis: {
                        //format: '#,###', makes stuff like 0, 1, 1 (instead of 0.5 for the middle)
                        maxValue: Math.ceil(max*1.1),
                        minValue: 0
                    }
                });
            } else if (i == 1) {
                $("#ranking_chart").html("Sorry, this user has only got one day's worth of statistics recorded which wouldn't make "+
                    "for a very interesting chart. Please check again tomorrow.");
            } else {
                $("#ranking_chart").html("Sorry, this user hasn't got any statistics recorded yet. Try again in a couple of days.");
            }
        });
